<link rel="stylesheet" href="/css/forms.css">

    {{!-- <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/leagues/edit-leagues/{{league.id}}" method="POST">
                        <div class="form-group">
                            <h5 class="mt-3">Presidente de la liga barrial</h5>
                            <input type="text" value="{{league.boss}}" class="form-control" name="boss"
                                placeholder="presidente de la liga" autofocus>
                        </div>
                        <br>
                        <div class="form-grou">
                            <h5 class="mt-3">Categoria</h5>
                            <input type="text" value="{{league.category}}" name="category" class="form-control"
                                placeholder="Categoria ">
                        </div>
                        <div class="form-grou">
                            <br>
                            <h5 class="mt-3">Numeros de Equipos</h5>
                            <input type="text" value="{{league.number_teams}}" name="number_teams" class="form-control"
                                placeholder="Numeros de Equipos ">
                        </div>
                        <br>
                        <div class="form-grou">
                            <br>
                            <h5 class="mt-3">Ciudad</h5>
                            <input type="text" value="{{league.city}}" name="city" class="form-control"
                                placeholder="Ciudad ">
                        </div>

                        <div class="form-group mt-3 d-grid">
                            <button type="submit" class="btn btn-success btn-block"> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    --}}

    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
            <h1><a>Editar liga barrial</a></h1>
        </div>
        <div class="formbg-outer">
            <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                    <form action="/leagues/edit-leagues/{{league.id}}" method="POST" id="stripe-login">
                        <div class="field padding-bottom--24">
                            <p>Presidente de la liga barrial</p>
                            <input type="text" value="{{league.boss}}" class="form-control" name="boss"
                                placeholder="presidente de la liga" autofocus>

                        </div>

                        <div class="field padding-bottom--24">
                            <p>Categoria</p>
                            <input type="text" value="{{league.category}}" name="category" class="form-control"
                                placeholder="Categoria ">
                        </div>

                        <div class="field padding-bottom--24">
                            <p>Numeros de Equipos</p>
                            <input type="text" value="{{league.number_teams}}" name="number_teams" class="form-control"
                                placeholder="Numeros de Equipos ">
                        </div>

                        <div class="field padding-bottom--24">
                            <p>Ciudad</p>
                            <input type="text" value="{{league.city}}" name="city" class="form-control"
                                placeholder="Ciudad ">
                        </div>
                        <div class="field padding-bottom--24">
                            <input type="submit" name="submit" value="Guardar">
                        </div>
                    </form>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>