<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/matches/edit-matches/{{match.id}}" method="POST">
                        <div class="form-group">
                            <h5 class="mt-3">Nombre del Equipo 1</h5>
                            <input type="text" value="{{match.team_name1}}" class="form-control" name="team_name1"
                                placeholder="team_name1" autofocus>
                        </div>
                        <div class="form-group">
                            <h5 class="mt-3">Nombre del Equipo 2</h5>
                            <input type="text" value="{{match.team_name2}}" class="form-control" name="team_name2"
                                placeholder="Nombre del equipo" autofocus>
                        </div>
                        <br>
                        <div class="form-grou">
                            <h5 class="mt-3">Tipo de campeonato</h5>
                            <input type="text" value="{{match.type_championship}}" name="type_championship"
                                class="form-control" placeholder="tipo de campeonato ">
                        </div>
                        <div class="form-grou">
                            <br>
                            <h5 class="mt-3">Nombre del Arbitro</h5>
                            <input type="text" value="{{match.referee_name}}" name="referee_name" class="form-control"
                                placeholder="Nombre del Arbitro ">
                        </div>
                        <br>
                        <div class="form-grou">
                            <br>
                            <h5 class="mt-3">Hora Inicio</h5>
                            <input type="text" value="{{match.start_time}}" name="start_time" class="form-control"
                                placeholder="Hora de inicio ">
                        </div>
                        <div class="form-grou">
                            <br>
                            <h5 class="mt-3">Hora Fin</h5>
                            <input type="text" value="{{match.end_time}}" name="end_time" class="form-control"
                                placeholder="Hora Fin ">
                        </div>
                        <div class="form-grou">
                            <br>
                            <h5 class="mt-3">lugar</h5>
                            <input type="text" value="{{match.place}}" name="place" class="form-control"
                                placeholder="lugar ">
                        </div>
                        <br>
                        <h5 class="mt-3">Fecha del partido</h5>
                        <input type="date" value="{{match.date}}" name="date" class="form-control"
                            placeholder="Fecha del partido ">


                        <div class="form-group mt-3 d-grid">
                            <button type="submit" class="btn btn-success btn-block"> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>