

<link rel="stylesheet" href="/css/cards.css">


<div class="container">

    {{#each matches}}

    <div class="card">
        <div class="box">
            <div class="content">

                <h3>
                    {{team_name1}}
                </h3>
                <br>
                <h5>VS</h5>
                <h3>
                    {{team_name2 }}
                </h3>
                <p>Tipo de Campeonato: {{type_championship}}</p>
                <p>Nombre del Arbitro: {{referee_name }}</p>
                <p>Tiempo inicial: {{start_time }}</p>
                <p>Tiempo Final: {{end_time}}</p>
                <p>Lugar: {{place}}</p>
                <p>Fecha: {{date}}</p>
                <a href="/matches/delete-matches/{{id}}" style="background-color: red ; color:aliceblue;"
                    class="btn btn-danger">Eliminar</a>
                <a href="/matches/edit-matches/{{id}}" style="background-color: rgb(12, 174, 0) ; color:aliceblue;" class="btn btn-secondary">Editar</a>


            </div>
        </div>
    </div>
    {{else}}
    <div class="card">
        <div class="box">
            <div class="content">

                <p>No hay registro guardados aun </p>
                <a href="/matches"> Agrega uno haciendo click aqui </a>
            </div>
        </div>
    </div>
    {{/each}}
</div>